<!doctype html>
<html lang="en">


<title><%= title %> </title>
  <head>
  
  </head>
  <body>
    <h1>Star Wars categories </h1>
    <div class="w3-card-4">
    <img src="/images/samples.jpg" style="width:30em; height:30em;" class="responsive" />
    </div>

    <h3>Star Wars categories </h1>
    <%  characters.forEach(function(characters) { %>
      <h4><%= characters.films %></h4>
      <h4><%= characters.species %></h4>
      <h4><%= characters.vehicles %></h4>
      <h4><%= characters.starships %></h4>
    
    <% }) %>

    <link href="/css/style.css" rel="stylesheet" type="text/css">


  </body>
</html>