<!doctype html>
<html lang="en">


<title><%= title %> </title>
  <head>
  
  </head>
  <body>
    <h1>Star Wars Characters </h1>
    <img src="/images/sample.jpg" class="responsive" />

    <h3>Star Wars characters </h1>
    <%  { %>
      <h4><%= characters[0].name %></h4>
      <h4><%= characters[1].name %></h4>
      <h4><%= characters[2].name %></h4>
      <h4><%= characters[3].name %></h4>
      <h4><%= characters[4].name %></h4>
      <h4><%= characters[5].name %></h4>
      <h4><%= characters[6].name %></h4>
      <h4><%= characters[7].name %></h4>
      <h4><%= characters[8].name %></h4>
      <h4><%= characters[9].name %></h4>
     
    
    <% } %>

    <link href="/css/style.css" rel="stylesheet" type="text/css">


  </body>
</html>